# Proyek UAS PMDPM

<b>Harap jangan menghapus cell dan komentar yang diberikan!</b>

Setiap cell markdown dan code akan berisi instruksi pengerjaan Proyek UAS PMDPM

Dalam notebook ini Anda akan diminta untuk membuat sebuah proyek Pembelajaran Mesin menggunakan dataset yang sudah disediakan. Proyek akan terdiri dari proses inisialisasi, data loading, data cleansing, feature engineering, modelling dan evaluasi model. Pada bagian akhir silahkan berikan laporan singkat dari proyek yang sudah dikerjakan

## Penjelasan Tugas

Terapkan pemrosesan dataset dari loading, data cleansing (jika perlu), data scaling, feature selection, hingga evaluasi model secara sederhana menggunakan code yang sudah dipelajari dalam latihan-latihan dan tugas.

### Inisialisasi

Bagian berikut berisi import library yang dibutuhkan

In [10]:
import pandas as pd

### Data Loading

Bagian berikut berisi proses data loading (boleh dengan file upload atau dengan mount drive), jangan lupa tampilkan 20 baris data teratas!

In [11]:
#loading data yang akan diolah
data = pd.read_csv('paris_housing2000.csv')
data.head(20)

,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,3,4,1995,N,Y,3114,1258,264,Y,9,10313.5,Basic
1,9,1,2011,N,Y,9390,6219,922,N,9,13229.1,Basic
2,1,4,2003,Y,N,2239,2795,951,Y,7,14431.3,Basic
3,6,2,1990,N,N,6861,5769,442,N,5,15488.0,Basic
4,6,9,1992,Y,Y,6618,7045,939,Y,10,16799.2,Basic
5,5,2,2010,Y,N,4426,5336,911,N,4,17071.0,Basic
6,4,3,1990,Y,N,6022,8521,391,Y,3,17363.0,Basic
7,6,3,2000,N,N,2325,6230,536,N,9,18985.0,Basic
8,2,2,2020,N,Y,8598,3119,268,N,10,19638.0,Basic
9,7,6,1995,N,Y,2675,6452,724,Y,2,19788.5,Basic
10,5,1,2021,N,Y,6831,1323,242,N,9,21201.1,Basic
11,3,1,2002,N,Y,7704,7896,468,Y,8,22499.2,Basic
12,5,4,1997,Y,N,3411,8985,213,N,4,22670.7,Basic
13,5,1,1991,N,Y,411,475,110,N,9,23653.1,Basic
14,8,6,2014,Y,N,2663,1650,403,Y,10,23818.4,Basic
15,7,5,2009,N,Y,3367,1039,436,Y,1,24058.9,Basic
16,7,2,2019,N,N,9680,5250,134,N,10,26533.9,Basic
17,2,1,2014,Y,N,1820,999,805,Y,4,27438.4,Basic
18,6,5,2000,Y,N,6453,5671,744,Y,9,28028.0,Basic
19,2,4,1996,Y,Y,5740,8505,106,Y,6,28295.6,Basic

In [12]:
#bersihkan dataset menggunakan metode yang sudah dipelajari
# detect row yang mengandung NaN
data.isnull().sum()
# tidak ada data yang null, tidak perlu untuk menghapus data

cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
category             0
dtype: int64

### Data Visualization

Dalam proses visualisasi data, silahkan visualisasikan feature menggunakan plot yang sesuai agar mendapat insight dari data dengan menjawab pertanyaan-pertanyaan berikut:

    untuk sub A:
    1. Bagaimana perbandingan median luas basement rumah berdasarkan tipe rumahnya (Basic dan Luxury)?
    2. Bagaimana komposisi jumlah rumah yang baru dibangun atau tidak pada tipe rumah Luxury?
   

    untuk sub B:
    1. Bagaimana perbandingan median luas loteng rumah berdasarkan tipe rumahnya (Basic dan Luxury)
    2. Bagaimana komposisi jumlah rumah yang memiliki pelindung badai atau tidak pada tipe rumah Basic?

In [13]:
#visualisasi fitur menggunakan metode yang sudah dipelajari

### Deskripsi Data Visualization
Berikan keterangan atau deskripsi singkat mengenai informasi yang diperoleh dari visualisasi data tersebut. Jawablah pertanyaan di atas pada cell markdown ini!

### Data Cleansing

Bagian berikut berisi proses pembersihan data (jika diperlukan, minimal cek apakah ada data yang kosong atau duplikat). Drop feature yang berlaku sebagai unique identifier (CityCode) dan drop feature Price. Lakukan OneHotEncoder untuk data kategorik string. Pisahkan juga label dengan feature!

### Train-test split

> Untuk sub A: random_state train_test_split gunakan 2 digit terakhir NPM terbesar di sub kelompok  

> Untuk sub B: random_state train_test_split gunakan 2 digit terakhir NPM terkecil di sub kelompok

In [14]:
#train-test split dan data scaling

### Modelling

Gunakan Pipeline untuk modelling dan grid search cross-validation untuk pemilihan model terbaik. Gunakan Stratified K-fold Cross Validation dengan nilai n_splits=5. Pipeline terdiri atas data scaling, feature selection, dan classifier. Buatlah 2 Pipeline dan 2 GridSearchCV untuk masing-masing kombinasi berikut.

>Step data scaling untuk membandingkan perlunya data scaling atau tidak. Gunakan dua nilai pada parameter grid yaitu: [None,Scaler]. Untuk sub A: gunakan StandardScaler. Untuk sub B: gunakan MinMaxScaler

>Step feature selection untuk membandingkan metode feature selection yang digunakan. Gunakan dua metode pada parameter grid yaitu: [Selector]. Untuk sub A: gunakan SelectKBest dengan ketentuan k minimal 2, maksimal n-1. Untuk sub B: gunakan SelectPercentile dengan ketentuan persentil minimal 30%, maksimal 80%. Kalian juga perlu melakukan setting parameter grid nilai k atau percentile-nya.

>Step classifier untuk membandingkan algoritme classifier. Eksplorasi pengaturan parameter yang ada pada algoritme yang akan Anda gunakan, tidak terbatas pada 1-2 parameter saja supaya optimal (selain random_state). Silahkan bereksperimen untuk parameter seperti n_estimators, max_depth untuk tree-based classifier; C untuk Logistic Regression; dan C, gamma, serta kernel untuk SVM agar mendapat akurasi terbaik.

> Sub A: RandomForestClassifier(n_estimators=bebas minimal 50, random_state= dua digit terakhir NPM terbesar dalam sub kelompok, max_depth=bebas, criterion='entropy') dan LogisticRegression(C=bebas, max_iter=10000, class_weight='balanced')

> Sub B: K-Nearest Neighbors(n_neighbors=bebas, weights='distance') dan SVC(C=bebas, gamma=bebas, class_weight='balanced')

>Tampilkan best estimator dan nilai best score dari kedua grid-search cross-validation. Fit best estimator pada train set kemudian ujikan pada test set dengan fungsi score. Format score 3 digit di belakang koma (.3f).

In [15]:
#cell code ini untuk proses pembuatan model pipeline & grid search 1

In [16]:
#cell code ini untuk proses pembuatan model pipeline & grid search 2

### Evaluasi Model

Bagian berikut berisi evaluasi model menggunakan classification report dan skor AUC. Tampilkan classification report dan AUC dari best estimator yang diperoleh masing-masing grid search!

In [17]:
#lakukan proses evaluasi model algoritme pembelajaran mesin

## Kesimpulan

Silahkan jawab pertanyaan berikut:

1. Apa saja feature-feature yang penting untuk membedakan antara rumah basic dan luxury? 

2. Model apakah yang memiliki performa paling baik terhadap dataset? Apakah parameter setting yang paling optimal dari model tersebut?

*tulis jawaban Anda di cell ini*